@using DrinkAndGo.ViewModels
@model DrinkListViewModel

@{
    ViewData["Title"] = "Drinks";
}

<div class="text-center">
    <div>
        <h2>All drinks are shown here</h2>
    </div>

    <h2>@Model.CurrentCategory</h2>
</div>


@foreach (Drink drink in Model.Drinks)
{
<partial name="_DrinksSummary" model="drink" />

}
